doctype html
html
    head
        title= title
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/styles.css', rel='stylesheet')
        script(src='/js/jquery.js')
        script(src='/js/bootstrap.min.js')
    body
        block content