doctype html
html
    head
        title= title
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/styles.css', rel='stylesheet')
        script(src='/js/jquery.js')
        script(src='/js/bootstrap.min.js')
    body
        .nav 
            a(href='/') Home 
            a(href='/groups') My Groups 
            form(method='post', action='/logout')
                button(type='submit').btn.btn-default Logout
        block content