extends layout 

block content
html
  body
    .container
      .row
        .col-xs-12
          .table-responsive
            //- table.table.table-bordered.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
            //-   caption.text-center
            //-     | An example of a responsive table based on 
            //-     a(href='http://getbootstrap.com/css/#tables-responsive', target='_blank') Bootstrap
            //-     | :
              thead
                tr
                  th Participants:
                  th Dech
                  th Mari
                  th John
                  th Yae
                  th Kirk
                  th Dav
                  th Bel
              tbody
                tr
                  td Sun
                  td -
                  td +
                  td -
                  td +
                  td +
                  td -
                  td -
                tr
                  td Mon
                  td -
                  td +
                  td -
                  td +
                  td +
                  td -
                  td -
                tr
                  td Tue
                  td -
                  td +
                  td -
                  td +
                  td +
                  td -
                  td -
                tr
                  td Wed
                  td -
                  td +
                  td -
                  td +
                  td +
                  td -
                  td -
                tr
                  td Thur
                  td -
                  td +
                  td -
                  td +
                  td +
                  td -
                  td -
                tr
                  td Fri
                  td -
                  td +
                  td -
                  td +
                  td +
                  td -
                  td -
                tr
                  td Sat
                  td -
                  td +
                  td -
                  td +
                  td +
                  td -
                  td -
              tfoot
                tr
                  td.text-center(colspan='8') Data for the week of [ responsive date here? ]
          // end of .table-responsive
